${render.expandTemplate(templates.header)}
<!-- $cfg.timestamp -->
<div class="wrapper rounded shadow">

    
    <div class="tags">$v.tags</div>

       
    <div class="foreign foreignTerm">
        <span>$v.foreign</span>$v.foreignTTS
    </div>

    ${render.expandTemplate('hintButton.html')}

    <figure class="img hintCover"><img class="shadow" src="$v.img"></span></figure>

    <div class="native native1 hintCover hint">$v.native</div>
    
    
    
    <div class="native native2 hintCover hint">$v.nativeAlt</div>
    

     
    <div class="foreign foreignExample">
        <span>$v.foreignExample</span>$v.foreignExampleTTS
    </div>

    <div class="native nativeExample hintCover">
        <span>$v.nativeExample</span>
    </div>
    
    
    


    <script>${render.expandTemplate('script.js')}</script>
</div>
${render.expandTemplate(templates.footer)}