${render.expandTemplate(templates.header)}


<button id="hintButton" class="buttonRounded" onclick="showHint()" type="button">HINT</button>
<div class="wrapper rounded shadow">

       
    <div class="question foreignTerm">
        <span>$v.foreign</span>$v.foreignTTS
    </div>


    <figure class="img hintCover"><img class="shadow" src="$v.img"></span></figure>

    <div class="answer native1 hintCover hint">$v.native</div>
    
    
    <!-- {{#nativeAlt}} -->
    <div class="answer native2 hintCover hint">$v.nativeAlt</div>
    <!-- {{/nativeAlt}} -->
 

    <!-- {{#foreignExample}} -->
    <div class="question foreignExample">
        <span>$v.foreignExample</span>$v.foreignExampleTTS
    </div>
    <!-- {{/foreignExample}} -->



</div>

<script>

    function coverWord(w) {
        var placeholder = '-';
        var chrs = Array.from(w)
        var end = chrs.length;
        var start = 0;
        if (chrs.length > 1) start++;
        if (chrs.length > 4) end--;
        if (chrs.length > 7) start++;

        for (var i = start; i < end; i++) {
            chrs[i] = placeholder;
        }
        return chrs.join("");
    }
    function showHint() {
        
        var hints = document.getElementsByClassName('hint');
        for (var i = 0; i < hints.length; i++) {
            console.log(i);
            var covered = coverWord(hints[i].textContent);
            console.log(i);
            hints[i].textContent = covered;
            hints[i].classList.remove('hintCover');
        };        
        document.getElementById("hintButton").style.display = "none";
    }


</script>

${render.expandTemplate(templates.footer)}