${render.expandTemplate(templates.header)}



<div class="wrapper rounded shadow">

    <div class="tags">$v.tags</div>
        

    <div class="question foreignTerm">
        <span>$v.foreign</span>$v.foreignTTS
    </div>

    


    <figure class="img"><img class="shadow" src="$v.img"></span></figure>

    <div class="answer native1">
        <!-- $v.nativeShow -->    
        <span>$v.native</span>$v.nativeTTS
        <!-- $v.nativeShowEnd -->        
    </div>

    
    <div class="answer native2">
        <!-- $v.nativeAltShow -->    
        <span>$v.nativeAlt</span>$v.nativeAltTTS
        <!-- $v.nativeAltShowEnd -->
    </div>
    

    
    <div class="answer nativeExample">
        <span>$v.nativeExample</span>$v.nativeExampleTTS
    </div>
    

    
    <div class="question foreignExample">        
        <span>$v.foreignExample</span>$v.foreignExampleTTS
    </div>
    

    

</div>

${render.expandTemplate(templates.footer)}