${render.expandTemplate(templates.header)}
$v.nativeShow
<!-- $cfg.timestamp -->
<div class="wrapper rounded shadow">

    <div class="tags">$v.tags</div>

       
    <div class="foreign foreignTerm hintCover hint">$v.foreign</div>

    ${render.expandTemplate('hintButton.html')}


    <figure class="img hintCover"><img class="shadow" src="$v.img"></span></figure>

    <div class="native native1">
        <!-- $v.nativeShow -->    
        <span>$v.native</span>$v.nativeTTS
        <!-- $v.nativeShowEnd -->        
    </div>

    
    <div class="native native2">
        <!-- $v.nativeAltShow -->
        <span>$v.nativeAlt</span>$v.nativeAltTTS
        <!-- $v.nativeAltShowEnd -->
    </div>
         
    <div class="foreign foreignExample hintCover">
        <span>$v.foreignExample</span>
    </div>

    <div class="native nativeExample">
        <span>$v.nativeExample</span>$v.nativeExampleTTS
    </div>
    
    
    
    


    <script>${render.expandTemplate('script.js')}</script>
    <span style="background-image: url('$v.background');" id="backgroundImg"></span>
</div>


$v.nativeShowEnd
${render.expandTemplate(templates.footer)}