${render.expandTemplate(templates.header)}



<div class="wrapper rounded shadow">

    <div class="tags">$v.tags</div>

       
    <div class="foreign foreignTerm hintCover hint">$v.foreign</div>

    <button id="hintButton" class="buttonRounded" onclick="showHint()" type="button">HINT</button>


    <figure class="img hintCover"><img class="shadow" src="$v.img"></span></figure>

    <div class="native native1">$v.native</div>
    
        
    <div class="native native2">$v.nativeAlt</div>
    

     
    <div class="native nativeExample">
        <span>$v.nativeExample</span>$v.nativeExampleTTS
    </div>
    
    
    <div class="foreign foreignExample hintCover">
        <span>$v.foreignExample</span>
    </div>
    



</div>

<script>

    function coverWord(w) {
        var placeholder = '-';
        var chrs = Array.from(w)
        var end = chrs.length;
        var start = 0;
        if (chrs.length > 1) start++;
        if (chrs.length > 4) end--;
        if (chrs.length > 7) start++;

        for (var i = start; i < end; i++) {
            chrs[i] = placeholder;
        }
        return chrs.join("");
    }
    function showHint() {
        
        var hints = document.getElementsByClassName('hint');
        for (var i = 0; i < hints.length; i++) {
            var covered = coverWord(hints[i].textContent);
            hints[i].textContent = covered;
            hints[i].classList.remove('hintCover');
        };
        setTimeout(function() { 
            var imgCover = document.getElementsByClassName('hintCover');
            for (var i = 0; i < imgCover.length; i++) {                
                imgCover[i].classList.add('hintUncover');
                imgCover[i].classList.remove('hintCover');
            }
        }, 5000);
        document.getElementById("hintButton").style.display = "none";
    }


</script>

${render.expandTemplate(templates.footer)}