${render.expandTemplate(templates.header)}
<!-- $cfg.timestamp -->
<style>
    
#backgroundImg {    
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 99%;
  height: 97%;
  z-index: -1;
  opacity: 0.3;  
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-image: url('$v.backgroundImg');
}
</style>


Again: $v.info.displayName
${render.renderMarkdownTemplate('description.md')}
<span id="backgroundImg"></span>

${render.expandTemplate(templates.footer)}