



.shadow {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.card {
  background-color: #76bdbde8;
  color: #fff;
  font-family: Helvetica;
 font-size: 2em;
 text-align: center;
}

.rounded {
  border: 1px 1px 1px 0px black;  
  border-radius: 10px;    
}

.img img {
  max-width: 320px;
  min-width: 100px;
  
 
}

.imgIgnore {   
  /* you need to match the shadow color to your background or image border for the desired effect*/
  box-shadow: 0 0 8px 8px  #bd76a5e8 inset;  
  /*background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 150px;
  
  height: 80%;
  height: 150px; */
}

.wrapper {
  padding: 10px;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
  flex-flow: row wrap;
 
}

.wrapper > * {
  flex: 1 100%;
  margin: auto;
  min-height: 80px;
}


.native1, .native2 {
  flex: 1 auto;  
}


/*
@media all and (min-width: 300px) {
  
  
  .native1, .native2 {
    flex: 1 auto;  
    background-color: #ff0040e8; 
  } 
}*/

/*
@media all and (min-width: 1000px) {
  .wrapper .img {
    flex: 1 auto;
    
  }
  .foreign { order: 1;}
  .native1 { order: 2;}
  .img { order: 3;}
  .native2 { order: 4;}
  .foreignExample { order: 4;}
  .nativeExample { order: 4;}  
}*/