<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="styleDefault.css" rel="stylesheet" />
	<link href="style.css" rel="stylesheet" />

</head>

<body>

	<div class="container">
		<span class="align-middle"></span>
	</div>

	<main class="container">
		<div id="qa_box" class="card card2">
			<!-- --------------------------------------------------------------------------   -->
			<main class="wrapper rounded shadow">
				<header class="foreign foreignTerm">
					<span>{{foreign}}</span>[sound:{{foreignTTS}}]
				</header>

				<!-- 
				<figure class="img"><div style="background-image: url('apple.jpeg')"></div></figure>
				-->
				<figure class="img"><img src="{{img}}"></span></figure>

				<!--	<figure class="img"><img src="lightBulb.png"></figure>
				<figure class="img"><img src="air.png"></figure>
				<div class="img"><img src="above.jpeg"></div>-->


				<section class="native native1">
					<span>{{native}}</span>[sound:{{nativeTTS}}]
				</section>

				<!-- {{#nativeAlt}} -->
				<section class="native native2">
					<span>{{nativeAlt}}</span>[sound:{{nativeAltTTS}}]
				</section>
				<!-- {{/nativeAlt}} -->

				<!-- {{#foreignExample}} -->
				<section class="foreign foreignExample">
					<span>{{foreignExample}}</span>[sound:{{foreignExampleTTS}}]
				</section>
				<!-- {{/foreignExample}} -->

				<!-- {{#nativeExample}} -->
				<section class="native nativeExample">
					<span>{{nativeExample}}</span>[sound:{{nativeExampleTTS}}]
				</section>
				<!-- {{/nativeExample}} -->

			</main>
			<!-- --------------------------------------------------------------------------   -->
		</div>
		<br>
		</div>
	</main>
</body>

</html>