<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="styleDefault.css" rel="stylesheet" />
	<link href="style.css" rel="stylesheet" />

</head>


<body>

	<div class="container">
		<span class="align-middle"></span>
	</div>

	<main class="container">
		<div id="qa_box" class="card card2">
			<!-- --------------------------------------------------------------------------   -->
			<div class="wrapper rounded shadow">
				<div class="foreign foreignTerm">
					<span>{{foreign}}</span>[sound:{{foreignTTS}}]
				</div>

				<!-- 
				<figure class="img"><div style="background-image: url('apple.jpeg')"></div></figure>
				-->
				<figure class="img"><img class="shadow" src="apple.jpeg"></span></figure>

				<!--	<figure class="img"><img src="lightBulb.png"></figure>
				<figure class="img"><img src="air.png"></figure>
				<div class="img"><img src="above.jpeg"></div>-->


				<div class="native native1">
					{{native}}[sound:{{nativeTTS}}]
				</div>

				<!-- {{#nativeAlt}} -->
				<div class="native native2">
					<span>{{nativeAlt}}</span> [sound:{{nativeAltTTS}}]
				</div>
				<!-- {{/nativeAlt}} -->

				<!-- {{#foreignExample}} -->
				<div class="foreign foreignExample">
					<span>{{foreignExample}}</span> [sound:{{foreignExampleTTS}}]
				</div>
				<!-- {{/foreignExample}} -->

				<!-- {{#nativeExample}} -->
				<div class="native nativeExample">
					<span>{{nativeExample}}</span> [sound:{{nativeExampleTTS}}]
				</div>
				<!-- {{/nativeExample}} -->

			</div>
			<!-- --------------------------------------------------------------------------   -->
		</div>
		<br>
		</div>
	</main>
</body>

</html>