		<!-- --------------------------------------------------------------------------   -->
  </div>
    <p>
    </p><div class="row">
        <div class="col-2">New</div>
        <div class="col-2"><b><font color="#00a">5</font></b></div>
    </div>
    <div class="row">
        <div class="col-2">In Learning</div>
        <div class="col-2"><b><font color="#a00">0</font></b></div>
    </div>
    <div class="row">
        <div class="col-2">To Review</div>
        <div class="col-2"><b><font color="#0a0">0</font></b></div>
    </div>

  
 
</div>
</main>
</body>

</html>